body {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

/* h1...................
...................... */

h1 {
    background-color: rgba(228, 74, 133, 0.836);
    border: solid rgba(13, 218, 74, 0.575) 4px;
    border-radius: 80px;
    margin: 50px 0px 0px 360px;
    width: 630px;
    padding-left: 20px;
}

/* p...................
............ */
p {
    background-color: aquamarine;
    border: solid black 3px;
    border-radius: 30px;
    margin: 15px 2px 15px 2px;
    padding-left: 15px;
}


span {
    color: red;
}

/* 
Images styled////////////////////////////////////////////////////////////////////////////////////
*/
.portrait {
    border: solid navy 2px;
    width: 270px;
    margin: 5px;
    height: 240px;
}

.red-black {
    border: solid red 2px;
    width: 350px;
    margin-left: 200px;
    height: 260px;
}

.single-tree {
    width: 380px;
    border: solid greenyellow 2px;
    margin-left: 100px;

}